<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Registro de parqueadero
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Registrar parqueo</ion-card-subtitle>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <form [formGroup]="myForm" (ngSubmit)="saveData()">
              <ion-item>
                  <ion-label stacked>Cliente:</ion-label>
                  <ion-input formControlName="cliente" type="text" placeholder="cliente" [(ngModel)]="registro.mobile_phone"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Vehiculo:</ion-label>
                <ion-input formControlName="vehiculo" type="text" placeholder="vehiculo" [(ngModel)]="registro.mobile_phone"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Fecha Inicio:</ion-label>
                <ion-input formControlName="fecha_inicio" type="text" placeholder="fecha_inicio" [(ngModel)]="registro.mobile_phone"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked>Fecha Fin:</ion-label>
              <ion-input formControlName="fecha_fin" type="text" placeholder="fecha_fin" [(ngModel)]="registro.mobile_phone"></ion-input>
          </ion-item>
          <div padding>
            <ion-button ion-button icon-start clear small color="success" type="submit" [disabled]="myForm.invalid">Guardar</ion-button>
          </div>
          </form>
      </ion-card-content>
    </ion-card>
  
</ion-content>
